@import "../../styles/variables";
@import "../../styles/mixins";

.Container {
  background: $color-white;
  box-shadow: $box-shadow;
  @include flex(column, flex-start, stretch);

  .Header {
    flex: 0 0 auto;
  }

  .AlbumNav {
    flex: 1 1 auto;
    overflow-y: scroll;
  }

  .User {
    flex: 0 0 auto;
  }
}
